<form style="margin: 50px;">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label">First name: <div id="details">Yukti</div></label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
            <label class="form-label">Last name: <div id="details">Khurana</div></label>
        </div>
      </div>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label">Address
        <div id="details">Whippany, NJ</div>
      </label>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline sm-1">
          <label class="form-label">Date of Birth
            <div id="details">Whippany, NJ</div>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline sm-1">
          <label class="form-label">NHS number
            <div id="details">343453334</div>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline sm-1">
          <label class="form-label">Email
            <div id="details">erferfw@gmail.com</div>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline sm-1">
          <label class="form-label">Phone
            <div id="details">436237282</div>
          </label>
        </div>
      </div>
    </div>
    <label class="form-label">Difficulty
        <div id="details">Anxiety</div>
    </label>
  </form>