{% include "header.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='view_referral.css')}}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/view_referral.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">  
    <div class="container-fluid" id="referral-container">  
        <div class="container">
            <main class="flex-fill">
               <br>
               <h2>Referral Form</h2>
               <p>Please enter the following details to the best of your ability</p>  
               <br>
               <div class="heading">
                <form style="margin: 50px;">
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">First name</label>
                        <input type="text" id="first-name" class="form-control" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">Last name</label>
                        <input type="text" id="last-name" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Address</label>
                    <input type="email" id="address-line1" class="form-control" placeholder="Address Line 1"/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="address-line1" class="form-control" placeholder="Address Line 2"/>
                  </div>
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="city" class="form-control" placeholder="City"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="state" class="form-control" placeholder="State"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="zipcode" class="form-control" placeholder="Zipcode"/>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline sm-1">
                        <label class="form-label">Date of Birth</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline sm-1">
                        <label class="form-label">NHS number</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline sm-1">
                        <label class="form-label">Email</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline sm-1">
                        <label class="form-label">Phone</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline sm-1">
                        <input type="date" id="date-of-birth" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline sm-1">
                        <input type="text" id="nhs" class="form-control" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline sm-1">
                        <input type="text" id="email" class="form-control" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline sm-1">
                        <input type="text" id="phone" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <label class="form-label">GP Surgery</label>
                  </div>
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="gp-name" class="form-control" placeholder="Name"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="gp-address" class="form-control" placeholder="Address"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="gp-phone" class="form-control" placeholder="Phone"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-check-label" for="flexCheckDefault">What do you consider to be your main difficulty?</label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Bereavement</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Domestic Abuse</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Divorce.Seperation</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Children Looked After</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Suicide Bereavement</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Depression</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Anxiety</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Stress</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Gender Identity/Sexuality</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault" style="color: black;">Other</label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  </div>
                  <div class="form-outline mb-4">
                    <div>
                      <center><button type="submit" class="btn btn-primary" id="submit-referral">Submit</button></center>
                    </div>
                  </div>
                </form>
              </div>
              </main>
          </div>
    </div> 
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2019 Listening Ear. All rights reserved.</span>
      </div>
    </footer> 
</div>


{% endblock %}